version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    commit-message:
      prefix: "chore"
    open-pull-requests-limit: 10
    target-branch: staging
