@import 'variables';
@import 'colors';

// Typography
.fbw-b-text{
    color: $fbw-b;
}
.fbw-db-text{
    color: $fbw-db;
}
.fbw-g-text{
    color: $fbw-g;
}

// Backgrounds
.fbw-b-bg{
    background-color: $fbw-b;
}
.fbw-lb-bg{
    background-color: $fbw-lb;
}
.fbw-db-bg{
    background-color: $fbw-db;
}
.fbw-g-bg{
    background-color: $fbw-g;
}
.fbw-dark-bg{
    background-color: $dark;
}
.fbw-darker-bg{
    background-color: $fbw-dark;
}
.fbw-light-bg{
    background-color: $fbw-light;
}

.scrolled{
    background-color: $dark;
}