@import 'colors';

// Body
$body-bg: #141e30;

// Typography
$font-family-sans-serif: 'Aileron-Regular', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$link-hover-color: $fbw-b !important;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
