:root {
  --color-brand-cyan-main: 0 224 254;
  --color-brand-cyan-dark: 0 202 229;
  --color-brand-cyan-light: 51 231 255;

  --color-brand-navy-main: 23 30 44;
  --color-brand-navy-dark: 14 19 27;
  --color-brand-navy-light: 31 42 61;

  --color-theme-text: var(--color-brand-navy-main);

  --color-quasi-white: 250 250 250;

  --color-utility-red: 220 38 38;
  --color-utility-green: 132 204 22;
  --color-utility-light-green: 64 232 48;
  --color-utility-orange: 255 106 0;
  --color-utility-yellow: 255 230 0;
  --color-utility-amber: 245 158 11;
  --color-utility-blue: 82 128 234;
  --color-utility-purple: 153 61 245;
  --color-utility-pink: 233 47 139;
  --color-utility-salmon: 248 113 113;
  --color-utility-grey: 208 208 208;
  --color-utility-dark-grey: 105 105 105;
  --color-utility-grey-blue: 43 48 59;

  --color-button-theme-neutral: rgb(var(--color-brand-navy-light));
  --color-button-theme-neutral-confirmation: rgb(var(--color-brand-cyan-main));
  --color-button-theme-positive: rgb(var(--color-utility-green));
  --color-button-theme-caution: rgb(var(--color-utility-orange));
  --color-button-theme-danger: rgb(var(--color-utility-red));
}

.modal {
  @apply p-8 w-5/12 max-w-screen-sm text-quasi-white rounded-xl;

  background-color: var(--color-brand-navy-dark);

  @apply border-2;
  border-color: var(--color-brand-navy-main);

  .modal-title {
    @apply text-5xl text-quasi-white font-manrope font-bold;
  }
}

.button {
  @apply flex justify-center items-center font-inter font-bold px-5 py-2.5 border-2 rounded-md transition-colors duration-150;

  font-size: 1.25em;
  height: 2.35em;

  @mixin color($background, $textColorHover: true) {
    background-color: $background;
    border-color: $background;

    &:hover {
      background-color: transparent;
      @if $textColorHover {
        color: $background;
      }
    }
  }

  &, &.button-neutral {
    @apply font-semibold;

    @include color(var(--color-button-theme-neutral), false);
    color: var(--color-quasi-white);
  }

  &.button-emphasis {
    @include color(var(--color-button-theme-neutral-confirmation));
    color: var(--color-theme-text);
  }

  &.button-positive {
    @include color(var(--color-button-theme-positive));
    color: var(--color-theme-text);
  }

  &.button-caution {
    @include color(var(--color-button-theme-caution), false);
  }

  &.button-danger {
    @include color(var(--color-button-theme-danger), false);
  }

  &[disabled] {
    @apply pointer-events-none opacity-50;
  }
}
