@use 'tailwind';
@use 'fbw';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Manrope:wght@200;300;500;600;700;800&display=swap');

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content * {
  margin: 0 !important;
}
.leaflet-popup-content-wrapper {
  background: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  min-width: fit-content !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  min-width: max-content !important;
}

.leaflet-popup-tip {
  background-color: #171E2C !important;
  box-shadow: none !important;
}

.full-page-map .leaflet-control-zoom {
  margin-top: 72px !important;
}

.leaflet-div-icon {
  border: none !important; 
}

.leaflet-container {
  z-index: 999;
}