$scrollbar-track-color: hsl(195, 6%, 13%);
$scrollbar-track-width: 15px;
$scrollbar-thumb-color: hsl(202, 6%, 28%);
$scrollbar-thumb-color-hover: hsl(202, 6%, 36%);

html {
  &::-webkit-scrollbar {
    width: $scrollbar-track-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    &:hover{
      background-color: $scrollbar-thumb-color-hover;
    }
    background-color: $scrollbar-thumb-color;
  }
}
