@font-face {
  font-family: Nunito Sans;
  font-weight: 300;
  src: url("/font/NunitoSans-Light.ttf")
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 400;
  src: url("/font/NunitoSans-Regular.ttf")
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 500;
  src: url("/font/NunitoSans-SemiBold.ttf")
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 600;
  src: url("/font/NunitoSans-Bold.ttf")
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 700;
  src: url("/font/NunitoSans-ExtraBold.ttf")
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 800;
  src: url("/font/NunitoSans-Black.ttf")
}

@tailwind base;
@layer base {

  html {
    font-size: 14px;
    scroll-behavior: smooth;
  }

  body {
    @apply overflow-x-hidden bg-blue-darker text-white;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .px-page {
      @apply px-5 md:px-8;
    }
  }
}
