@tailwind base;

@layer base {
  html {
    @apply bg-light text-dark;
    font-size: 12px;
  }

  @screen xs {
    html {
      font-size: 16px;
    }
  }

  h1,h2,h3,h4 {
    @apply font-bold font-display leading-relaxed py-2;
  }

  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-2xl font-normal;
  }

  p {
    @apply font-body font-light text-lg tracking-[-2%] leading-relaxed;
  }
}
@tailwind components;
@tailwind utilities;
