
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pad-top {
  padding-top: 15px;
}

.pad-top-large {
  padding-top: 30px;
}

.danger {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2;
}

.main-logo {
  max-width: 80%;
}

.main-logo-text {
  font-size: 1.5rem !important;
  max-width: 100%;
  margin-bottom: 50px;
}

.promo-image {
  max-width: 60%;
  padding-top: 15vh;
}

.link-text-stable {
  text-decoration: underline;
  text-decoration-color: #09ff00;
}

.link-text-pre {
  text-decoration: underline;
  text-decoration-color: #ff0000;
}

.margin-right-5 {
  margin-right: 5%;
}

.margin-minus-top {
  margin-top: -10%;
}

.card-image {
  width: 80%;
  display: block;
  margin: auto;
}

.nav-link {
  font-size: 1.2em;
  margin-top: 10px;
  padding: 0 !important;
  font-weight: 300;
}

.home-logo {
  margin-left: 10px;
}

.nav-item {
  font-size: 1.0rem;
  font-weight: 200;
}

.white-text {
  color: white;
}

.install-logo {
  max-width: 50%;
}

.container {
  max-width: 90%;
}

.large-pad-bottom {
  padding-bottom: 50px;
}

.third-party-header {
  font-weight: normal;
  font-size: 3rem;
  max-width: 80%;
  text-align: center;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.discord-logo {
    margin-left: 50% !important;
  }
}