@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }

  .px-page {
    @apply px-5 md:px-8;
  }
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 300;
  src: url("assets/font/NunitoSans-Light.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 400;
  src: url("assets/font/NunitoSans-Regular.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 500;
  src: url("assets/font/NunitoSans-SemiBold.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 600;
  src: url("assets/font/NunitoSans-Bold.ttf")
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  letter-spacing: .3px;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

body {
  overflow-x: hidden;
  background: #141E30;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
