@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover, focus {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }

  .px-page {
    @apply px-5 md:px-8;
  }
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 300;
  src: url("/font/NunitoSans-Light.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 400;
  src: url("/font/NunitoSans-Regular.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 500;
  src: url("/font/NunitoSans-SemiBold.ttf")
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 600;
  src: url("/font/NunitoSans-Bold.ttf")
}

$scrollbar-track-color: rgb(31, 34, 35);
$scrollbar-track-width: 14px;
$scrollbar-thumb-color: rgb(123, 123, 123);

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito Sans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  letter-spacing: .3px;
  scroll-behavior: smooth;
  color: white;
}

@media (max-width: 600px) {
  html {
    font-size: 11px;
  }
}

body {
  overflow-x: hidden;
  background: #141E30;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    width: $scrollbar-track-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow-x: hidden;
  color: white;
}

// Hero Swiper

@media (max-width: 1400px) {
  .swiper-pagination {
    padding-bottom: 12.5vh;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: rgb(0,194,203) !important;
}
